In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./data/train.csv')

In [3]:
eval = pd.read_csv('./data/eval.csv')

In [4]:
test = pd.read_csv('./data/test.csv')

In [5]:
test.head(5)

   item_cnt_day  item_price  shop_id  item_id
0           1.0       399.0        2       31
1           3.0       300.0        2      486
2           1.0       420.0        2      787
3           1.0      3300.0        2      794
4           1.0        58.0        2      968

In [9]:
eval.head(5)

   item_cnt_day  item_price  shop_id  item_id
0           1.0       399.0        2       31
1           3.0       300.0        2      486
2           1.0       420.0        2      787
3           1.0      3300.0        2      794
4           1.0        58.0        2      968

In [11]:
train.head(5)

,item_cnt_day,item_price,shop_id,item_id,block_31_lag_1_item_price,block_31_lag_1_item_cnt_day,block_30_lag_2_item_cnt_day,block_30_lag_2_item_price,block_29_lag_3_item_cnt_day,block_29_lag_3_item_price,...,block_1_lag_31_item_price,block_1_lag_31_item_cnt_day,block_0_lag_32_item_cnt_day,block_0_lag_32_item_price,block_-1_lag_33_item_cnt_day,block_-1_lag_33_item_price,last_buy,average_interval,avg_buy_rate,std_buy_rate
0,1.0,199.0,2,33,0.0,0.0,1.0,199.0,0.0,0.0,...,0.0,0.0,1.0,499.0,0.0,0.0,2,3.555556,0.323529,0.534880
1,1.0,300.0,2,486,0.0,0.0,0.0,0.0,2.0,300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,1.714286,0.382353,0.779071
2,1.0,979.0,2,792,979.0,2.0,0.0,0.0,1.0,979.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1.555556,0.411765,0.743360
3,1.0,349.0,2,975,0.0,0.0,1.0,349.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,2.000000,0.058824,0.238833
4,1.0,499.0,2,1090,0.0,0.0,0.0,0.0,1.0,499.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,3.000000,0.058824,0.238833

In [13]:
sales = pd.read_csv('./data/sales_train.csv.gz')

In [39]:
def create_data_lag(sales, lag=1):    
    max_num = sales['date_block_num'].max()
    curr = max_num - lag
    print(max_num, curr)
    last_sales =  sales[sales['date_block_num'] == curr]
    last_sales = last_sales.groupby(['shop_id','item_id']).agg({"item_price":'mean',"item_cnt_day":"sum"})
    last_sales['shop_id'] = [i[0] for i in last_sales.index]
    last_sales['item_id'] = [i[1] for i in last_sales.index]
    
    col_item_price = 'block_%s_lag_%s_item_price' % (curr, 0)
    col_item_cnt_day = 'block_%s_lag_%s_item_cnt_day' % (curr, 0)
    
    last_sales[col_item_price] = last_sales['item_price']
    last_sales[col_item_cnt_day] = last_sales['item_cnt_day']
    del last_sales['item_price']
    del last_sales['item_cnt_day']


    for i in range(1,max_num):
        previous_sales = sales.copy()
        previous_sales = previous_sales[['date_block_num', 'shop_id', 'item_id', 'item_price','item_cnt_day']]
        previous_sales = previous_sales[previous_sales['date_block_num'] == curr - 1]
        col_item_price = 'block_%s_lag_%s_item_price' % (curr-1, i)
        col_item_cnt_day = 'block_%s_lag_%s_item_cnt_day' % (curr-1, i)
        previous_sales[col_item_price] = previous_sales['item_price']
        previous_sales[col_item_cnt_day] = previous_sales['item_cnt_day']

        previous_sales= previous_sales.groupby(['shop_id','item_id']).agg({col_item_price:'mean', col_item_cnt_day:"sum"})
        previous_sales['shop_id'] = [i[0] for i in previous_sales.index]
        previous_sales['item_id'] = [i[1] for i in previous_sales.index]

        last_sales = pd.merge(last_sales, previous_sales, on=['shop_id', 'item_id'], how='left')
        curr = curr - 1
    cols = []
    for col in last_sales.columns:
        if 'tuple' in str(type(col)):
            cols.append(col[0]+"_"+col[1])
        else:
            cols.append(col)
    last_sales.columns = cols
    last_sale_clear_nan = last_sales.fillna(0)
    last_buy = []
    average_interval = []
    col_cnt = []
    
    for c in last_sale_clear_nan.columns:
        if 'item_cnt_day' in c:
            col_cnt.append(c)
            
    for items in last_sale_clear_nan[col_cnt].values:
        month = -1
        month_interval = []
        last_buy_month = 0
        for idx,row in enumerate(items):
            if idx > 0 and row > 0:
                if month == -1:
                    month = idx
                month_interval.append(idx - last_buy_month)
                last_buy_month = idx
        last_buy.append(month)
        average_interval.append(np.mean(month_interval))
    last_sale_clear_nan['last_buy'] = last_buy
    last_sale_clear_nan['average_interval'] = average_interval
    last_sale_clear_nan['avg_buy_rate'] = last_sale_clear_nan[col_cnt].mean(axis=1)
    last_sale_clear_nan['std_buy_rate'] = last_sale_clear_nan[col_cnt].std(axis=1)
    return last_sale_clear_nan

In [37]:
eval_feature = create_data_lag(sales, lag=1)

33 32

C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'shop_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'item_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [40]:
eval_feature.columns

Index(['item_cnt_day', 'item_price', 'shop_id', 'item_id',
       'block_31_lag_1_item_cnt_day', 'block_31_lag_1_item_price',
       'block_30_lag_2_item_price', 'block_30_lag_2_item_cnt_day',
       'block_29_lag_3_item_cnt_day', 'block_29_lag_3_item_price',
       'block_28_lag_4_item_price', 'block_28_lag_4_item_cnt_day',
       'block_27_lag_5_item_cnt_day', 'block_27_lag_5_item_price',
       'block_26_lag_6_item_cnt_day', 'block_26_lag_6_item_price',
       'block_25_lag_7_item_cnt_day', 'block_25_lag_7_item_price',
       'block_24_lag_8_item_price', 'block_24_lag_8_item_cnt_day',
       'block_23_lag_9_item_price', 'block_23_lag_9_item_cnt_day',
       'block_22_lag_10_item_price', 'block_22_lag_10_item_cnt_day',
       'block_21_lag_11_item_cnt_day', 'block_21_lag_11_item_price',
       'block_20_lag_12_item_cnt_day', 'block_20_lag_12_item_price',
       'block_19_lag_13_item_cnt_day', 'block_19_lag_13_item_price',
       'block_18_lag_14_item_price', 'block_18_lag_14_item_cnt_day',
       'block_17_lag_15_item_cnt_day', 'block_17_lag_15_item_price',
       'block_16_lag_16_item_cnt_day', 'block_16_lag_16_item_price',
       'block_15_lag_17_item_cnt_day', 'block_15_lag_17_item_price',
       'block_14_lag_18_item_cnt_day', 'block_14_lag_18_item_price',
       'block_13_lag_19_item_price', 'block_13_lag_19_item_cnt_day',
       'block_12_lag_20_item_cnt_day', 'block_12_lag_20_item_price',
       'block_11_lag_21_item_cnt_day', 'block_11_lag_21_item_price',
       'block_10_lag_22_item_price', 'block_10_lag_22_item_cnt_day',
       'block_9_lag_23_item_price', 'block_9_lag_23_item_cnt_day',
       'block_8_lag_24_item_price', 'block_8_lag_24_item_cnt_day',
       'block_7_lag_25_item_price', 'block_7_lag_25_item_cnt_day',
       'block_6_lag_26_item_price', 'block_6_lag_26_item_cnt_day',
       'block_5_lag_27_item_cnt_day', 'block_5_lag_27_item_price',
       'block_4_lag_28_item_cnt_day', 'block_4_lag_28_item_price',
       'block_3_lag_29_item_price', 'block_3_lag_29_item_cnt_day',
       'block_2_lag_30_item_cnt_day', 'block_2_lag_30_item_price',
       'block_1_lag_31_item_cnt_day', 'block_1_lag_31_item_price',
       'block_0_lag_32_item_cnt_day', 'block_0_lag_32_item_price', 'last_buy',
       'average_interval', 'avg_buy_rate', 'std_buy_rate'],
      dtype='object')

In [38]:
eval_feature.head(5)

,item_cnt_day,item_price,shop_id,item_id,block_31_lag_1_item_cnt_day,block_31_lag_1_item_price,block_30_lag_2_item_price,block_30_lag_2_item_cnt_day,block_29_lag_3_item_cnt_day,block_29_lag_3_item_price,...,block_2_lag_30_item_cnt_day,block_2_lag_30_item_price,block_1_lag_31_item_cnt_day,block_1_lag_31_item_price,block_0_lag_32_item_cnt_day,block_0_lag_32_item_price,last_buy,average_interval,avg_buy_rate,std_buy_rate
0,1.0,199.0,2,33,0.0,0.0,199.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,499.0,2,3.555556,0.333333,0.540062
1,1.0,300.0,2,486,0.0,0.0,0.0,0.0,2.0,300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,1.714286,0.393939,0.788170
2,1.0,979.0,2,792,2.0,979.0,0.0,0.0,1.0,979.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1.555556,0.424242,0.751262
3,1.0,349.0,2,975,0.0,0.0,349.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,2.000000,0.060606,0.242306
4,1.0,499.0,2,1090,0.0,0.0,0.0,0.0,1.0,499.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,3.000000,0.060606,0.242306

In [26]:
test_feature = create_data_lag(sales, lag=2)

C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'shop_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'item_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [27]:
train_feature = create_data_lag(sales, lag=3)

C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'shop_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'item_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\17001970\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [29]:
eval_feature.head(5)

,item_cnt_day,item_price,shop_id,item_id,block_31_lag_1_item_cnt_day,block_31_lag_1_item_price,block_30_lag_2_item_price,block_30_lag_2_item_cnt_day,block_29_lag_3_item_cnt_day,block_29_lag_3_item_price,...,block_1_lag_31_item_cnt_day,block_1_lag_31_item_price,block_0_lag_32_item_cnt_day,block_0_lag_32_item_price,block_-1_lag_33_item_price,block_-1_lag_33_item_cnt_day,last_buy,average_interval,avg_buy_rate,std_buy_rate
0,1.0,199.0,2,33,0.0,0.0,199.0,1.0,0.0,0.0,...,0.0,0.0,1.0,499.0,0.0,0.0,2,3.555556,0.323529,0.534880
1,1.0,300.0,2,486,0.0,0.0,0.0,0.0,2.0,300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,1.714286,0.382353,0.779071
2,1.0,979.0,2,792,2.0,979.0,0.0,0.0,1.0,979.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1.555556,0.411765,0.743360
3,1.0,349.0,2,975,0.0,0.0,349.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,2.000000,0.058824,0.238833
4,1.0,499.0,2,1090,0.0,0.0,0.0,0.0,1.0,499.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,3.000000,0.058824,0.238833

In [32]:
eval_feature.columns

Index(['item_cnt_day', 'item_price', 'shop_id', 'item_id',
       'block_31_lag_1_item_cnt_day', 'block_31_lag_1_item_price',
       'block_30_lag_2_item_price', 'block_30_lag_2_item_cnt_day',
       'block_29_lag_3_item_cnt_day', 'block_29_lag_3_item_price',
       'block_28_lag_4_item_price', 'block_28_lag_4_item_cnt_day',
       'block_27_lag_5_item_cnt_day', 'block_27_lag_5_item_price',
       'block_26_lag_6_item_cnt_day', 'block_26_lag_6_item_price',
       'block_25_lag_7_item_cnt_day', 'block_25_lag_7_item_price',
       'block_24_lag_8_item_price', 'block_24_lag_8_item_cnt_day',
       'block_23_lag_9_item_price', 'block_23_lag_9_item_cnt_day',
       'block_22_lag_10_item_price', 'block_22_lag_10_item_cnt_day',
       'block_21_lag_11_item_cnt_day', 'block_21_lag_11_item_price',
       'block_20_lag_12_item_cnt_day', 'block_20_lag_12_item_price',
       'block_19_lag_13_item_cnt_day', 'block_19_lag_13_item_price',
       'block_18_lag_14_item_price', 'block_18_lag_14_item_cnt_day',
       'block_17_lag_15_item_cnt_day', 'block_17_lag_15_item_price',
       'block_16_lag_16_item_cnt_day', 'block_16_lag_16_item_price',
       'block_15_lag_17_item_cnt_day', 'block_15_lag_17_item_price',
       'block_14_lag_18_item_cnt_day', 'block_14_lag_18_item_price',
       'block_13_lag_19_item_price', 'block_13_lag_19_item_cnt_day',
       'block_12_lag_20_item_cnt_day', 'block_12_lag_20_item_price',
       'block_11_lag_21_item_cnt_day', 'block_11_lag_21_item_price',
       'block_10_lag_22_item_price', 'block_10_lag_22_item_cnt_day',
       'block_9_lag_23_item_price', 'block_9_lag_23_item_cnt_day',
       'block_8_lag_24_item_price', 'block_8_lag_24_item_cnt_day',
       'block_7_lag_25_item_price', 'block_7_lag_25_item_cnt_day',
       'block_6_lag_26_item_price', 'block_6_lag_26_item_cnt_day',
       'block_5_lag_27_item_cnt_day', 'block_5_lag_27_item_price',
       'block_4_lag_28_item_cnt_day', 'block_4_lag_28_item_price',
       'block_3_lag_29_item_price', 'block_3_lag_29_item_cnt_day',
       'block_2_lag_30_item_cnt_day', 'block_2_lag_30_item_price',
       'block_1_lag_31_item_cnt_day', 'block_1_lag_31_item_price',
       'block_0_lag_32_item_cnt_day', 'block_0_lag_32_item_price',
       'block_-1_lag_33_item_price', 'block_-1_lag_33_item_cnt_day',
       'last_buy', 'average_interval', 'avg_buy_rate', 'std_buy_rate'],
      dtype='object')

In [30]:
test_feature.head(5)

,item_cnt_day,item_price,shop_id,item_id,block_30_lag_1_item_price,block_30_lag_1_item_cnt_day,block_29_lag_2_item_price,block_29_lag_2_item_cnt_day,block_28_lag_3_item_price,block_28_lag_3_item_cnt_day,...,block_0_lag_31_item_price,block_0_lag_31_item_cnt_day,block_-1_lag_32_item_price,block_-1_lag_32_item_cnt_day,block_-2_lag_33_item_cnt_day,block_-2_lag_33_item_price,last_buy,average_interval,avg_buy_rate,std_buy_rate
0,1.0,149.0,2,32,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5,2.714286,0.323529,0.638207
1,1.0,349.0,2,70,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4,4.000000,0.058824,0.238833
2,1.0,3300.0,2,482,3300.0,1.0,0.0,0.0,0.0,0.0,...,3300.0,1.0,0.0,0.0,0.0,0.0,1,1.631579,0.823529,0.903548
3,2.0,979.0,2,792,0.0,0.0,979.0,1.0,979.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,1.625000,0.382353,0.739152
4,1.0,249.0,2,806,0.0,0.0,0.0,0.0,249.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,1.666667,0.852941,2.413753

In [28]:
train_feature.head(5)

,item_cnt_day,item_price,shop_id,item_id,block_29_lag_1_item_price,block_29_lag_1_item_cnt_day,block_28_lag_2_item_cnt_day,block_28_lag_2_item_price,block_27_lag_3_item_cnt_day,block_27_lag_3_item_price,...,block_-1_lag_31_item_cnt_day,block_-1_lag_31_item_price,block_-2_lag_32_item_price,block_-2_lag_32_item_cnt_day,block_-3_lag_33_item_cnt_day,block_-3_lag_33_item_price,last_buy,average_interval,avg_buy_rate,std_buy_rate
0,1.0,199.0,2,33,0.0,0.0,1.0,199.0,1.0,199.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,3.750000,0.294118,0.523937
1,1.0,3300.0,2,482,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4,1.666667,0.794118,0.913847
2,1.0,1500.0,2,686,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,NaN,0.029412,0.171499
3,1.0,600.0,2,687,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10,7.000000,0.147059,0.359491
4,2.0,299.0,2,948,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7,3.250000,0.176471,0.458627

# Feature Engineering